<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <title>todo</title>
</head>
<body>
    <div id="app">
        <input type="text" name="ToDo" v-model="message" @keyup.enter="add">
        <ul>
            <li v-for="(list, index) in lists">
                <span class="message">{{list}}</span>
                <button type="button" @click="edit(index)">Edit</button>
                <button type="button" @click="remove(index)">Delete</button>
            </li>
        </ul>
    </div>
</body>
<script src="vue.js"></script>
</html>